version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      actions:
        patterns:
          - "*"

  - package-ecosystem: "gomod"
    directory: "/" 
    schedule:
      interval: "weekly"
    groups:
      go-deps:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
      go-deps-major:
        patterns:
          - "*"
        update-types:
          - "major"
