name: Code Quality Checks
on:
  pull_request:
    branches: ['master']
    types: ['opened', 'reopened', 'synchronize', 'edited']

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.19', 'go.mod', 'stable' ]

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        name: Checkout source code

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        name: Setup Go ${{ matrix.go }}
        with:
          go-version: ${{ matrix.go != 'go.mod' && matrix.go || '' }}
          go-version-file: ${{ matrix.go == 'go.mod' && matrix.go || '' }}

      - name: Build Go
        run: go build -v ./...

      - name: Test Go
        run: go test -race ./... -v
